.sender {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 1em;
}

.messagefield {
    flex-grow: 1;

    background-color: var(--secondary-bg-color);
    color: var(--primary-text-color);
    
    outline: none;
    border: none;
    border-radius: var(--rounded-border-radius);
    
    padding: .75em 1em;
    resize: none;

    font-size: inherit;
}

.sendbutton {
    background-color: var(--secondary-bg-color);
    color: var(--primary-text-color);
    
    outline: none;
    border: none;
    border-radius: var(--rounded-border-radius);
    
    padding: .75em 1em;
    
    cursor: pointer;
    font-size: inherit;
}